<html><head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
 <br>
 验证Email说明<br>
<strong>${users.susername}</strong>，您好: <br>
<br>
 这封信是由【志峰创业室】发送的。<br/>
您收到这封邮件，是由于这个邮箱地址在 被登记为用户邮箱， 且该用户请求使用 Email验证功能所致。<br>
----------------------------------------------------------------------<br>
重要！<br>
----------------------------------------------------------------------<br>
如果您不是注册用户，请立即忽略 并删除这封邮件。只有在您确认注册的情况下，才需要继续阅读下面的 内容。<br>
----------------------------------------------------------------------<br>
Email验证说明<br>
----------------------------------------------------------------------<br>
您需要在注册后的三天内，通过点击下面的链接验证您的账户信息：<br>
<a href="${url}">${url}</a><br>
(如果上面不是链接形式，请将该地址手工粘贴到浏览器地址栏再访问)<br>
在上面的链接所打开的页面中验证通过，您即可使用登录网站了。您可以在用户控制面板中查看您的验证情况(如事先登陆，需要重新登陆系统后查看)。<br>
本请求提交者的 IP 为 ${ip}<br>
此致<br>
<br>
注:此邮件通过系统自动发出，请勿回复!感谢使用<br>
<br>
</body></html>